*{
    box-sizing:border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}
nav{
    width:100%;
    color:#fff;
    background-color:#000;
}
nav .logo{
    min-width:200px;
}
nav a{
    display:block;
    padding:20px 25px;
    text-decoration:none;
    color:#fff;
}
nav a:hover{
    color:#000;
    background-color:#00c3ff;
}
nav .mobile{
    display:none;
}
nav .mobile .header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-left:10px;
}
nav .mobile .header .more button{
    padding:20px;
    cursor:pointer;
    border:none;
    font-size:20px;
    color:#fff;
    background-color:#000;
}
nav .desktop{
    display:flex;
    justify-content:space-between;
    padding:0 20px;
    align-items:center;
}
nav .desktop .primary,
nav .desktop .secondary-full{
    display:flex;
}
nav .secondary-mini{
    display:none;
}
@media screen and (max-width:800px){
    nav .logo{
        min-width:100px;
    }
    nav .secondary-full#second{
        display:none;
    }
    nav .secondary-mini{
        display:block;
    }
    nav .secondary-mini .submenu{
        position:absolute;
        right:0;
        display:none;
        width:200px;
        background-color:#000;
    }
    nav .secondary-mini:hover .submenu{
        display:block;
    }
}
@media screen and (max-width:515px){
    nav .desktop{
        display:none;
    }
    nav .mobile{
        display:block;
    }
}